body{
    margin: 0;
    background-color: #35191A ;
}
section{
    margin-bottom: 150px;
}
.header-part{
    background-image: url(images/fifth-thumbnail.png);
    background-size: cover;
    padding: 163px;
    text-align: center;
}
.header-part-h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-align: center;
}
.header-part-p{
    color: white;
    text-align: center;
    font-size: 25px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #BD8078;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
}
/* 2nd section */
.donate-area-h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
.donate-area-p{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 0%;
}
.flex-display{
    display: flex;
    color: white;
    text-align: center;
}
.divided-width{
    width: 20%;
}
#left-margin{
    margin-left: 300px;
}
#right-margin{
    margin-right: 300px;
}
#default-border{
    background-color: #805174;
    border: 3px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 7px;
}
.other-amount{
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 100px;
    margin-bottom: 50px;
}
h4{
    font-weight: 100;
    text-align: center;
    color: rgb(201, 196, 196);
    margin-bottom: 2%;
}
.donate-area-button{
    margin-left: 690px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(45deg,#432371, #805174);
    padding: 10px 40px;
    border-radius: 10px;
}
/* 3rd section */
.plan-area{
    display: flex;
}
.plan-area-h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
.plan-area-p{
    color: white;
    font-size: 20px;
    text-align: center;
}
.food{
    background-image: url(images/icons/food.png);
    background-repeat: no-repeat;
    background-position:10% 15%;
    background-size: 100px;
    background-color: rgba(245, 245, 245, 0.123);
    padding: 100px 15px 15px 30px;
    margin-top: 75px;
    margin-left: 25px;
    border-radius: 35px 15px;
}
.one-third-width{
    width: 33%;
}
.food-area-h2{
    color: white;
    font-size: 30px;
}
.food-area-p{
    color: white;
}
.medicine{
    background-image: url(images/icons/medicine.png);
    background-repeat: no-repeat;
    background-position:10% 15%;
    background-size: 100px;
    background-color: rgba(245, 245, 245, 0.123);
    padding: 100px 15px 15px 30px;
    margin-top: 75px;
    margin-left: 25px;
    border-radius: 35px 15px;
}
.medicine-area-h2{
    color: white;
    font-size: 30px;
}
.medicine-area-p{
    color: white;
}
.shelter{
    background-image: url(images/icons/shelter.png);
    background-repeat: no-repeat;
    background-position:10% 15%;
    background-size: 100px;
    background-color: rgba(245, 245, 245, 0.123);
    padding: 100px 15px 15px 30px;
    margin-top: 75px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 35px 15px;
}
.shelter-area-h2{
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}
.shelter-area-p{
    color: white;
}