body{
    margin: 0;
    background-image: linear-gradient(45deg, #573272, #805174);
}
.header-part{
    background-image: url(images/fifth-thumbnail.png);
    background-size: cover;
    padding: 163px;
    text-align: center;
}
.header-part h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-align: center;
}
.header-part p{
    color: white;
    text-align: center;
    font-size: 25px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #BD8078;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
}